{% extends 'layout.html' %}
{% block content %}
{% for post in posts.items %}
{% if post.title != "*Deleted*" %}
<div class="card column is-one-quarter mr-6 mt-2 p-0">
  <div class="card-image">
    <figure class="image is-5by4">
      <img src="{{url_for('static', filename='design_pics/' + post.image_file)}}" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img class="is-rounded" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file)}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <a class="title is-5" href="{{url_for('post',post_id=post.id)}}">{{post.title}}</a><br>
        <a class="subtitle is-6"
          href="{{url_for('user_posts', username=post.author.username)}}">@{{post.author.username}}</a>
      </div>
    </div>

    <div class="content">
      <div style="display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
       overflow: hidden;">{{post.caption}}</div>
      <br>
      {% if post.scorecount>0 %}
            <p>Ratings : {{post.scoresum/post.scorecount}} % ({{post.scorecount}})</p>
            {% endif %}
      <time datetime="">{{post.date_posted.strftime('%d %b , %H:%M')}}</time>
    </div>
  </div>
  <footer class="card-footer">
    <a href="{{url_for('share_post',post_id=post.id)}}" class="card-footer-item">
      <span class="icon">
        <i class="fas fa-share-alt-square"></i>
      </span> Share</a>
    <a href="{{url_for('order_post',post_id=post.id)}}" class="card-footer-item">
      <span class="icon">
        <i class="fas fa-cart-plus"></i>
      </span> Order now</a>
  </footer>
</div>
  
{% endif %}


{% endfor %}
<div class="column  is-full is-centered">
<nav class="pagination is-centered mx-1" role="navigation" aria-label="pagination">
  <ul class="pagination-list">
    {% for page_num in posts.iter_pages(left_edge=1 ,right_edge=1,left_current=1,right_current=2) %}
    {% if page_num %}
    {% if posts.page ==page_num %}
    <li><a class="pagination-link is-current"href="{{url_for('home',page=page_num)}}">{{page_num}}</a></li>
    {% else %}
    <li><a class="pagination-link "href="{{url_for('home',page=page_num)}}">{{page_num}}</a></li>
    {% endif %}
    {% else %}
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
</div>

{% endblock content %}